
### Java ###
*.class

### IntelliJ IDEA ###
.idea/
*.iml
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
bin/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Logs ###
*.log
